html{
  font-size: 8px;
  font-family: 'Work Sans', sans-serif;
}
p, h2, span{
  color: #555657;

}
header span{
  font-size: 4rem;
}
header{
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerrightside ul{
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
}
.headerrightside li{
  padding: 1.5rem;
}
#colmar{
  font-weight: bold;
}
.banner{
  background-color: #D8D8D8;
}
.bannercontainer{
  display: flex;
  height: 50rem;
}
.banner img{
  padding: 4rem 3rem;
  width: 47%;
}
h2{
  font-size: 4rem;
  font-weight: 900;
  color: #555657;
}
.bannertext span{
  font-size: 2rem;
  font-weight: 700;
  color: #555657;
}
.bannertext{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  justify-content: space-around;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 1rem;
}
#button{
  background-color: #555657;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  text-align: center;
}
.infoleftside img{
  width: 60%;
  padding-top: 4rem;
}
.infoleftside{
  border: 1px solid red;
  padding-left: 3rem;
}
.textleftside{
  margin-right: 50rem;
  border: 1px solid blue;
}
.textleftside p{
  font-size: 2rem;
  line-height: 1.5;
  padding-top: 2rem;
}
.infoleftside h2{
  padding-top: 3rem;
}
.infocontainer{
  display: flex;
}
.inforightside{
  display: flex;
  flex-direction: column;

}

.container{
  width: 40%;
}
